<p>
  second works!
</p>

<div *ngIf="showAlert">
  <p style="color:red; font-size: 30px;">ALARM! ALARM! THIS IS NOT A DRILL! ALERT IS SHOWING! ALARM! ALARM!</p>
</div>

<button (click)="closeAlert()">CLOSE ALERT</button>
